#bkgrnd {
  background-image: url("../img/Powell-Steps.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5vh 5vw;
}

.remove-pad {
  padding-bottom: 0px;
}

li {
  list-style-type: none;
  display:inline-block;
  word-wrap: break-all;
}

.row {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

#translayer {
  background-color: rgba(255,255,255,0.6);
  border-radius: 25px;
  padding: 3%;
  width: 90vw;
  // height: 90vh;
}

.search, .browse, .notices {
  padding:inherit;
}

.notices, .ss, .browse {
  padding: 10px 30px;
}

.browse2 {
  padding: 0px;
}

#search {
  border-radius: 5px;
}

.lower {
  margin-top: 14px;
}

.title {
  font-weight: bold;
  // text-emphasis-style: double-circle;
}

.link-contrast {
  color: #ffff00;
}

.wrap {
  width: 90%;
  max-width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

span2 {
  // padding: 60x;
  color: #ffb300;
  font-weight: bold;
  font-size: large;
}

span:hover{
    color: rgba(255,255,255,0.8);
}

.b:hover {
  border-image: #ffff00;
  background: #ffff00;
}

footer {
  // position: relative;
  background-color: #666666;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 5vw 1rem 5vw;
  }

  .footer .links {
    float:left;
  }

  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    float:left;
    // padding: 3rem 0 2rem;
    margin: 0;
  }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }

  .footer .copywrite {
    float:right;
  }

// footer {
//     background-color: #666666;
//     padding: 2rem 4rem;
//     justify-content: center;
//     color: #fff;
//     min-width: 100%;
//     max-height: 100px;
//     // margin: 0 auto;
//     box-sizing: border-box;
// }

.flex-btn-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
//
// .footer-down {
//   // position: absolute;
// }

// @media only screen and (min-width: 40.063em) {
//   .footer .columns:nth-child(n+2) {
//     border-left: 1px solid #b3b3b3;
//     min-height: 280px;
//   }
// }

footer a {
  display: block;
  font-size: 0.8em;
  color: 00a5e5;
}

footer a:hover {
  color: rgba(255,255,255,0.8);
}
