<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <!-- <p class="slogan"> cvgbhjk</p> -->
      <p class="links">
        <a href="https://ccle.ucla.edu/course/view/aboutccle?sectionid=926">Contact</a>
        <a href="https://ccle.ucla.edu/course/view/aboutccle?section=0">About</a>
        <a href="https://ccle.ucla.edu/theme/uclashared/view.php?page=privacy">Privacy</a>
        <a href="https://ccle.ucla.edu/course/view/aboutccle?sectionid=6996">UCLA links</a>
        <a href="http://www.registrar.ucla.edu/" target="_blank">Registrar</a>
        <a href="http://my.ucla.edu/" target="_blank">MyUCLA</a>
        <a href="http://www.cae.ucla.edu/" target="_blank">Disability</a>
        <a href="http://www.counseling.ucla.edu/" target="_blank">Couns/PsychSvc (CAPS)</a>
      </p>
      <p class="copywrite"><a href="https://ccle.ucla.edu/theme/uclashared/view.php?page=copyright">Copyright © 2016 UC Regents </a></p>
    </div>
  </div>
</footer>




<!--
<div class="footer-down">

<footer>
  <div class="wrap row small-up-1 medium-up-3 flex-btn-wrapper">

      <div class="column">
        <a href="https://ccle.ucla.edu/course/view/aboutccle?sectionid=926">Contact</a>
        <a href="https://ccle.ucla.edu/course/view/aboutccle?section=0">About</a>
        <a href="https://ccle.ucla.edu/theme/uclashared/view.php?page=privacy">Privacy</a>
      </div>
      <div class="column">
        <a href="https://ccle.ucla.edu/course/view/aboutccle?sectionid=6996">UCLA links</a>
        <a href="http://www.registrar.ucla.edu/" target="_blank">Registrar</a>
        <a href="http://my.ucla.edu/" target="_blank">MyUCLA</a>
      </div>
      <div class="column">
        <a href="http://www.cae.ucla.edu/" target="_blank">Disability</a>
        <a href="http://www.counseling.ucla.edu/" target="_blank">Couns/PsychSvc (CAPS)</a>
      </div>
      <div class="column">
        <a href="https://ccle.ucla.edu/theme/uclashared/view.php?page=copyright">Copyright © 2016 UC Regents </a>
      </div>

  </div>
</footer>
</div> -->
