<!-- Start Top Bar -->
<div class="top-bar" style="background-color: #3284bf">
  <div class="row remove-pad">
    <div class="top-bar-left">
      <a href="#"><img id="logo" src="../assets/img/digital-boxed-logotype-png/ucla-box-blu-rgb-108.png"></a> <span2>CCLE</span2> <span3 class="hide-for-medium-only hide-for-small-only"> | Common Collaboration & Learning Environment</span3>
    </div>
    <div class="top-bar-right">
      <ul class="" style="background-color: #3284bf;">
        <li><a href="#" class="button warning">Log in</a></li>
        <li><button class="dropdown button">Need Help?</button></li>
        <li><a href="#" class="warning hollow button">Fall 2016 • Week 10</a></li>

      </ul>
    </div>
  </div>
</div>
<!-- End Top Bar -->
